<?xml version="1.0" encoding="utf-8"?>
<packages>
	  <package id="visualstudiocode" />
	  <package id="nodejs.install" />
	  <package id="jdk10" />
	  <package id="git" />
	  <package id="adobereader" />
	  <package id="winrar" />
	  <package id="googlechrome" />
	  <package id="virtualbox" />
	  <package id="putty.install" />
	  <package id="vlc" />
</packages>